@import "tailwindcss";

@theme {
  --font-sans: var(--font-manrope);
  --font-serif: var(--font-playfair);

  --color-retreat-dark: #1A2F25;
  --color-retreat-black: #1E1E1E;
  --color-retreat-white: #F5F5F0;
  --color-retreat-gold: #C5A065;
  --color-retreat-gold-light: #D4B680;
}

@layer base {
  body {
    background-color: var(--color-retreat-dark);
    color: var(--color-retreat-white);
  }
}
